/*   */
.nav a:active, a:hover {background-color: #69B6FC;}
.kaka {
    border-radius: 5px;
 
    padding: 0px 0px 0px 20px;
    height: 100px;
}
.left-nav {
    z-index: 1;
    top : 50px;
    height: 100%;
    width: 195px;
    background: #000;
    color: #FCFDFB;
   
    left: 0;
    overflow: auto;
    animation: anim-nav-swipe-from-left 0.5s linear 1;
}
.thumbnail{

max-width: 1050px;
letter-spacing:1px
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
background-color: rgba(225,225,225, 0.45);
  margin: auto;
  


}
.form2{

   
   border:1px solid #B5223D;
   border-radius:5px;
   margin:0 auto;
   
   box-sizing:border-box;
    
   
    border-radius: 5px;
    background-color:rgba(0, 123, 220, 0.2);
    padding: 20px 1px 20px 200px;
    height: 100px;

}
input[type=text], select {
    width: 420px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 420px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
        margin: 8px 0px 1px 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    background:rgba(58, 47, 48, 0.0);
}
body{
  background-image: url("images/beautiful.jpg")}
